.container {
  display: flex;
}

.presentacion {
  width: 500px;
  height: 900px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-radius: 5px;
  justify-content: space-between;
  flex: 8;
  color: #fff;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.div1{
  margin-bottom: -70px;
  margin-left: 50px;
  margin-right: 50px;
  width: 500px;
  height: 400px;
}

.div1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.div1 label {
  margin-bottom: 5px;
}

.div1 input {
  margin-bottom: 10px;
}


.div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.div2 label {
  margin-bottom: 5px;
}

.div2 input[type="number"] {
  margin-bottom: 10px;
}

.div2 .descripcion {
  max-width: 500px;
  max-height: 110px;
}



.div3{
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  width: 500px;
  height: 400px;
}

.div4{
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  width: 500px;
  height: 400px;
}

.formulario label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.formulario input[type="text"],
.formulario input[type="url"],
.formulario input[type="number"],
.formulario select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.formulario select {
  height: 100px;
}

.formulario textarea[name="descripcion"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  width: 500px;
  height: 300px;
  text-align: left;
  padding-top: 0px;
  margin-top: 0px;
}


label[for="imagen"] {
  display: flex;
  margin-bottom: 10px;
}




.card {
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 50px;
  height: 500px;
  max-width: 400px;
  width: 100%;
  overflow: hidden;
  background-color: #202020;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.front {
  display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* Proporción de aspecto para mantener una relación de aspecto 4:3 */
  position: relative;
}

.imagen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  color: white;
}

.tipo {
  color: white;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  display: inline-block;
  margin: 4px;
  padding: 6px 12px;
  border-radius: 20px;
  background-color: #303030;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tipo:hover {
  background-color: #505050;
}

.front .tipo {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}

.genero{
  margin-top: 20px;
  text-align: center;
}

/* Estilo css para la checkboxes*/

.checktipes {
  display: flex;
  flex-wrap: wrap;
}

.checkboxes {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.checkboxes input[type="checkbox"] {
  margin-right: 5px;
}

.checkboxes input[type="checkbox"]:checked + span {
  font-weight: bold;
}

.checkboxes span {
  text-transform: capitalize;
}


