.landing {
  background-image: url(https://t3.ftcdn.net/jpg/02/39/40/08/360_F_239400826_YQExbFZM7u7yesAAnEyZb8QauJu22MWQ.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 1px;
  padding-bottom: 126px;
}